@{
    ViewBag.Title = "Confirm Password";
}

<div class="row">
    <div class="col-md-12">
        <h2>Confirm Password.</h2>
        <p>Great, you're almost done. You'll be receiving an email soon where you need to confirm your password change, after which your account will be active and you'll be able to login.</p>
    </div>
</div>

